.container-animacion-delete {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 100005;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.container-animacion-delete img {
  width: 100px;
  filter: drop-shadow(3px 3px 5px black);
  transform: translateX(-50%);
  animation: moverImagen 2s ease-in-out forwards;
}

@keyframes moverImagen {
  0% {
    transform: translateY(100%) rotate(0deg); /* Empieza desde la parte inferior sin rotaci贸n */
  }
  50% {
    transform: translateY(-95%) rotate(360deg); /* Llega a la mitad con una rotaci贸n de 15 grados */
  }
  100% {
    transform: translateY(-95%) rotate(360deg); /* Mantiene la mitad con rotaci贸n 0 */
  }
}
.imagen {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: moverImagen 2s ease-in-out forwards; /* Aplica la animaci贸n */
}

