.container-animacion-delete {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 100005;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.35); /* más limpio */
  backdrop-filter: blur(4px); /* efecto vidrio moderno */
}
.container-animacion-delete img {
  width: 100px;
  filter: drop-shadow(3px 3px 5px black);
  transform: translateX(-50%);
  animation: moverImagen 2s ease-in-out forwards;
}

@keyframes moverImagen {
  0% {
    transform: translateY(100%) rotate(0deg); /* Empieza desde la parte inferior sin rotación */
  }
  50% {
    transform: translateY(-95%) rotate(360deg); /* Llega a la mitad con una rotación de 15 grados */
  }
  100% {
    transform: translateY(-95%) rotate(360deg); /* Mantiene la mitad con rotación 0 */
  }
}
.imagen {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: moverImagen 2s ease-in-out forwards; /* Aplica la animación */
}

