nav {
  width: 90%;
  height: 45px;
  display: flex;
  margin: 0 auto ;
  margin-top: 5px;
  border-radius: 0.30rem;
  background: linear-gradient(rgb(0, 238, 255),#1294a5);
  color: black;
  font-size: 1rem;
  position: relative;
}
.main {
  width: 100%;
  height: auto;
  
}
.container-name {
  margin-left: 1rem;
}
.container-btn-folder {
  margin-right: 1rem;
  display: flex;
  gap: .8rem;
}

.container-folder-task  {
  display: none;
}
.active {
  display: block;
  background-color: white;
  color: black;
  border-radius: 0 0 .75rem .75rem;
  padding: 1rem;
  width: 90%;
  height: auto;
  margin: 0 auto;
}

.title {
  display: flex;
  gap: 1rem;
  background-color:rgba(255, 255, 255, 0.1) ;
  border-bottom: 2px solid #1294a5;
  color: #1294a5;
  font-weight: bold;
  margin-top: 5px;
}
.task {
  display: flex;
  border: thin solid grey;
  margin-top: 5px;
  border-radius: 8px;
}
.task-info {
  width: 90%;
  padding: 1rem;;
}
.task-checked {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1024px){
  nav, .container-folder-task {
    width: 50%;
  }
}


/*
nav {
  width: 90%;
  height: 45px;
  display: flex;
  margin: 0 auto ;
  margin-top: 5px;
  border-radius: 0.30rem;
  background: linear-gradient(rgb(0, 238, 255),#1294a5);
  color: black;
  font-size: 1rem;
  position: relative;
}
.main {
  width: 100%;
}
.container-name {
  margin-left: 1rem;
}
.container-btn-folder {
  margin-right: 1rem;
  display: flex;
  gap: .8rem;
}

.container-folder-task {
  color: white;
  border: 1px solid white;
  width: 90%;
  height: auto;
  margin: 0 auto;
  background-color: #1A4D6E;
}

.title {
  display: flex;
  gap: 1rem;
  background-color:rgba(255, 255, 255, 0.1) ;
}
.task {
  display: flex;
  gap: 1rem;
}
@media screen and (min-width: 1024px){
  nav, .container-folder-task {
    width: 50%;
  }
}
*/