
nav {
  width: 90%;
  height: 45px;
  display: flex;
  margin: 0 auto ;
  margin-top: 5px;
  border-radius: 0.30rem;
  background: linear-gradient(rgb(0, 238, 255),#1294a5);
  color: black;
  font-size: 1rem;
  position: relative;
}
.main {
  width: 100%;
}
.container-name {
  margin-left: 1rem;
}
.container-btn-folder {
  margin-right: 1rem;
  display: flex;
  gap: .8rem;
}

@media screen and (min-width: 1024px){
  nav {
    width: 50%;
  }
}