.container-menu-folder {
  width: 100%;
  min-height: 100vh;
  background-color: #002E52;
  position: absolute;
  top:0;
  z-index:10003;
  overflow: auto;
}

.create-folder {
  margin-left: 1rem;
}
.btn-close-menu-folder {
  margin-right: 1rem;

}
.main {
  height: auto;
 
}