.container-new-folder {
  width: 100%;
  height: 100vh;
  position:fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.35); /* más limpio */
  z-index: 10004;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(4px); /* efecto vidrio moderno */
}
h3 {
  color: white;
  text-shadow: 3px 3px 4px black;
  margin-bottom: 1rem;
}