.container-new-page {
  width: 100%;
  height: 100vh;
  position:fixed;
  top: 0;
  background-color: rgba(128, 128, 128, 0.493);
  display: flex;  
  align-items: center;
  flex-direction: column;
  
  z-index:1002;
}
.container-new-page h3 {
  color: white;
}
.container-new-page form {
  width: 90%;
  background-color:transparent;
  height: 40px;
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 1rem;
}
.inputText {
 border: none;
 outline: none;
 border-radius: .75rem;
 padding-left: 1rem;
}
.section {
  background: linear-gradient(rgb(0, 238, 255),#1294a5);
  width: 90%;
  height: 150px;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 4px black;
  transform: translateY(-150px);
  animation: animacion .5s ease;
  animation-fill-mode: forwards;
}
.close-create-page {
  position: absolute;
  top: -5px;
  right: 1rem;
}
input[type="submit"]{
  display: none;
}
.section p {
  color: white;
  text-shadow: 3px 3px 5px black;
  font-size: .8rem;
  margin-top: .3rem;;
  margin-right: 90px;
}
.section h3 {
  text-shadow: 3px 3px 4px black;;
}
.form-new-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputText {
  padding: .5rem;
}
form span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

@keyframes animacion {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(200px);
  }
}

@media screen and (min-width: 1024px){
  .section {
    width:auto;
    padding: 0 1.5rem;
  }
 
}